volumes:
  db-data:
    name: ${DB_VOLUME_NAME:-db-data}
  static-files:
    name: ${STATIC_VOLUME_NAME:-static-files}

networks:
  internal-net:

services:
  # ----------------------------------------------------------------------------
  # nginx proxy server
  # ----------------------------------------------------------------------------
  service.nginx:
    build:
      context: .
      dockerfile: ./services/nginx/Dockerfile
    ports:
      - ${NGINX_PORT}:80 # <--- В .env файле измените NGINX_PORT на любой другой свободный порт. Например, 1340
    depends_on:
      - service.frontend
    volumes:
      - static-files:/usr/share/nginx/html/static
    restart: unless-stopped
    networks:
      - internal-net

  # ----------------------------------------------------------------------------
  # nuxt frontend
  # ----------------------------------------------------------------------------
  service.frontend:
    build:
      context: .
      dockerfile: ./services/nuxtjs/Dockerfile
    command: "npm run dev -- -o"
    expose:
      - 5173
    volumes:
      - ./services/nuxtjs:/app
    env_file:
      - ./services/nuxtjs/.env
    restart: unless-stopped
    networks:
      - internal-net

  # ----------------------------------------------------------------------------
  # django drf backend
  # ----------------------------------------------------------------------------
  service.drf:
    build:
      context: .
      dockerfile: ./services/drf/Dockerfile
    expose:
      - 8000
    volumes:
      - ./services/drf:/app
      - static-files:/app/static
    env_file:
      - ./services/drf/.env
    depends_on:
      - service.db_postgres
    restart: unless-stopped
    networks:
      - internal-net
    command: >
      sh -c "./run_before.sh
      && pipenv run gunicorn -c gunicorn.py settings.wsgi:application"

  # ----------------------------------------------------------------------------
  # database
  # ----------------------------------------------------------------------------
  service.db_postgres:
    image: postgres
    expose:
      - 5432
    volumes:
      - db-data:/var/lib/postgresql/18/docker
    env_file:
      - ./services/drf/.env
    restart: unless-stopped
    networks:
      - internal-net

  # ----------------------------------------------------------------------------
  # adminer
  # ----------------------------------------------------------------------------
  service.adminer:
    image: adminer
    depends_on:
      - service.db_postgres
    ports:
      - ${ADMINER_PORT}:8080 # <--- В .env файле измените ADMINER_PORT на любой свободный порт, например, 8100 
    environment:
      ADMINER_DEFAULT_SERVER:  service.db_postgres
    restart: unless-stopped
    networks:
      - internal-net

  # ----------------------------------------------------------------------------
  # jupyter
  # ----------------------------------------------------------------------------
  service.jupyter:
    build:
      context: .
      dockerfile: ./services/jupyter/Dockerfile
    expose:
      - 8888
    volumes:
      - ./services/drf/apps/jupyter/jupyter_files:/home/jovyan/work
    depends_on:
      - service.adminer
    restart: unless-stopped
    networks:
      - internal-net