[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlacodegen = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
ruff = "*"
pylint = "*"
python-dotenv = "*"

[dev-packages]
eralchemy = "*"
graphviz = "*"
locust = "*"

[requires]
python_version = "3.12"
